/* 
    Created on : 4-nov-2018, 16.45.59
    Author     : Mattia
*/
.login{
    background-color: rgb(207,181,59);
}
.login > .container{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -206px;
    margin-left: -150px;
}
#login-box{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#login-box{
    text-align: center;
}
#login-box img{
    max-width: 100%;
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
#login-box form{margin: 0 0 18px;width: 100%;}
#login-box hr{
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
form .form-group{
    max-width: 100%;
}
form .form-group label{
    display: none;
}
form .form-group input{
    width: 100%;
}
form .form-group .login-button{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}


.navbar .container{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.navbar .container, .navbar .container a{
    color: #fff;
}

@media (max-width: 480px){
.login .container {
    margin-top: -170px;
}
}